<div class="filter h-100">
  <div class="row h-50">
    <div class="col">
      <div class="d-flex h-100 align-items-center">
        <button class="btn btn-outline-primary btn-filter">All</button>
        <button class="btn btn-outline-primary btn-filter">Glasgow</button>
        <button class="btn btn-outline-primary btn-filter">Edinburgh</button>
        <button class="btn btn-outline-primary btn-filter">Aberdeen</button>
        <button class="btn btn-outline-primary btn-filter">Perth</button>
        <button class="btn btn-outline-primary btn-filter">Dundee</button>
        <button class="btn btn-outline-primary btn-filter">Stirling</button>
      </div>
    </div>
  </div>
  <div class="row h-50">
    <div class="col">
      <div class="d-flex h-100 align-items-center">
        <button class="btn btn-outline-primary btn-filter">All</button>
        <button class="btn btn-outline-primary btn-filter">JS</button>
        <button class="btn btn-outline-primary btn-filter">HTML</button>
        <button class="btn btn-outline-primary btn-filter">PHP</button>
        <button class="btn btn-outline-primary btn-filter">Ruby</button>
        <button class="btn btn-outline-primary btn-filter">Python</button>
        <button class="btn btn-outline-primary btn-filter">Java</button>
        <button class="btn btn-outline-primary btn-filter">.NET</button>
        <button class="btn btn-outline-primary btn-filter">Scala</button>
        <button class="btn btn-outline-primary btn-filter">Scala</button>
      </div>
    </div>
  </div>
</div>
