@import "../../../styles";

.filter {
  .btn-filter {
    color: map_get($colors, 'primary');
    border-color: map_get($colors, 'primary');
    margin-right: 10px;
    background-color: white;
  }
  .btn-filter.active {
    color: map_get($colors, 'light');
    border-color: map_get($colors, 'light');
    background-color: map_get($colors, 'primary');
  }
  .btn-filter:hover {
    color: map_get($colors, 'light');
    border-color: map_get($colors, 'light');
    background-color: map_get($colors, 'primary');
  }
  .btn-filter:active {
    background-color: map_get($colors, 'primary');
    box-shadow: 0 0 0 0.2rem map_get($colors, 'primary');
    border-color: map_get($colors, 'primary');
  }
  .btn-filter:focus {
    box-shadow: none;
  }
}
