<div class="container-fluid header-container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-2">
      <p>ITJobBoard.co.uk</p>
    </div>
    <div class="col-3">
      <p>Best job board for IT professionals !</p>
    </div>
    <div class="col-4 offset-3">
      <button type="button" class="btn btn-primary"><i class="fa fa-facebook"></i></button>
      <button type="button" class="btn btn-primary">About Us</button>
      <button type="button" class="btn btn-primary">Contact</button>
      <button type="button" class="btn btn-primary">Post a Job</button>
    </div>
  </div>
</div>

