<div class="container-fluid header-container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-2">
      <a><h3>ITJobBoard.co.uk</h3></a>
    </div>
    <div class="col-3">
      <h6>Best job board for IT professionals !</h6>
    </div>
    <nav class="nav d-flex col-4 offset-3 justify-content-around">
      <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
      <a class="nav-link" href="#">About Us</a>
      <a class="nav-link" href="#">Contact</a>
      <a class="nav-link" href="#">Post a Job</a>
    </nav>
  </div>
</div>

