<div class="container-fluid post-container">
  <div class="row">
    <div class="col-6 offset-3 form-box">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="jobTitle" aria-describedby="jobTitle" placeholder="Job Title">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="companyName" aria-describedby="companyName" placeholder="Company Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="companyAddress" aria-describedby="companyAddress" placeholder="Company Address">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="salaryFrom" aria-describedby="salaryFrom" placeholder="Salary From">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="salaryTo" aria-describedby="salaryTo" placeholder="Salary To">
        </div>
      </form>
    </div>
  </div>
</div>
