@import "../../../styles";

* {
  color: white;
}
.main-container {
  height: 90%;
}
.filter {
  height: 10%;
  .col {
    background: color(light);
  }
}
.content {
  height: 90%;
  .job-list {
    background: color(light);
  }
  .map {
    background: color(darker);
    padding: 0;
  }
}
