@import "../../../styles";

* {
  color: white;
}
.main-container {
  height: 90%;
}
.filter {
  height: 15%;
  .col {
    background: map_get($colors, 'light');
  }
}
.content {
  height: 85%;
  .job-list {
    background: map_get($colors, 'light');
  }
  .map {
    background: map_get($colors, 'darker');
    padding: 0;
  }
}
