<div class="job-list d-flex h-100">
  <ul class="list-group wrapper">
    <li class="list-group-item item">
      <div class="row">
        <div class="col-2 d-flex justify-content-center">
          <img src="../../../assets/logos/microsoft.png" alt="" class="img-fluid">
        </div>
        <div class="col-10 content">
          <div class="row">
            <div class="col-8">
              <h4 class="title">Junior Front End Developer</h4>
            </div>
            <div class="col-4 d-flex justify-content-end">
              <p class="salary">2000 - 3000 GBP</p>
            </div>
          </div>
          <div class="row">
            <div class="col col-4">
              <i class="fa fa-industry" aria-hidden="true"></i> Microsoft Inc.
            </div>
            <div class="col col-4">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Glasgow, UK
            </div>
            <div class="col col-4 d-flex justify-content-around">
              <span>Angular</span>
              <span>SASS</span>
              <span>ES6</span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item item">
      <div class="row">
        <div class="col-2 d-flex justify-content-center">
          <img src="../../../assets/logos/microsoft.png" alt="" class="img-fluid">
        </div>
        <div class="col-10 content">
          <div class="row">
            <div class="col-8">
              <h4 class="title">Senior Front End Developer</h4>
            </div>
            <div class="col-4 d-flex justify-content-end">
              <p class="salary">4000 - 5000 GBP</p>
            </div>
          </div>
          <div class="row">
            <div class="col col-4">
              <i class="fa fa-industry" aria-hidden="true"></i> Microsoft Inc.
            </div>
            <div class="col col-4">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Glasgow, UK
            </div>
            <div class="col col-4 d-flex justify-content-around">
              <span>Angular</span>
              <span>SASS</span>
              <span>ES6</span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item item">
      <div class="row">
        <div class="col-2 d-flex justify-content-center">
          <img src="../../../assets/logos/microsoft.png" alt="" class="img-fluid">
        </div>
        <div class="col-10 content">
          <div class="row">
            <div class="col-8">
              <h4 class="title">Backend Developer</h4>
            </div>
            <div class="col-4 d-flex justify-content-end">
              <p class="salary">4000 - 7000 GBP</p>
            </div>
          </div>
          <div class="row">
            <div class="col col-4">
              <i class="fa fa-industry" aria-hidden="true"></i> Microsoft Inc.
            </div>
            <div class="col col-4">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Glasgow, UK
            </div>
            <div class="col col-4 d-flex justify-content-around">
              <span>PHP</span>
              <span>SQL</span>
              <span>TDD</span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item item">
      <div class="row">
        <div class="col-2 d-flex justify-content-center">
          <img src="../../../assets/logos/microsoft.png" alt="" class="img-fluid">
        </div>
        <div class="col-10 content">
          <div class="row">
            <div class="col-8">
              <h4 class="title">DevOps Engineer</h4>
            </div>
            <div class="col-4 d-flex justify-content-end">
              <p class="salary">4000 - 4500 GBP</p>
            </div>
          </div>
          <div class="row">
            <div class="col col-4">
              <i class="fa fa-industry" aria-hidden="true"></i> Microsoft Inc.
            </div>
            <div class="col col-4">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Glasgow, UK
            </div>
            <div class="col col-4 d-flex justify-content-around">
              <span>AWS</span>
              <span>CI</span>
              <span>CD</span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item item">
      <div class="row">
        <div class="col-2 d-flex justify-content-center">
          <img src="../../../assets/logos/microsoft.png" alt="" class="img-fluid">
        </div>
        <div class="col-10 content">
          <div class="row">
            <div class="col-8">
              <h4 class="title">Project Manager</h4>
            </div>
            <div class="col-4 d-flex justify-content-end">
              <p class="salary">5000 - 6000 GBP</p>
            </div>
          </div>
          <div class="row">
            <div class="col col-4">
              <i class="fa fa-industry" aria-hidden="true"></i> Microsoft Inc.
            </div>
            <div class="col col-4">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Glasgow, UK
            </div>
            <div class="col col-4 d-flex justify-content-around">
              <span>SCRUM</span>
              <span>TDD</span>
              <span>DDD</span>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
