<div class="job-list d-flex h-100">
  <ul class="list-group wrapper">
    <li class="list-group-item item">
      <div class="row">
        <div class="col-2 d-flex justify-content-center">
          <img src="../../../assets/logos/microsoft.png" alt="" class="img-fluid">
        </div>
        <div class="col-10 content">
          <div class="row">
            <div class="col-8">
              <h4 class="title">Junior Front End Developer</h4>
            </div>
            <div class="col-4 d-flex justify-content-end">
              <p class="salary">2000 - 3000 GBP</p>
            </div>
          </div>
          <div class="row">
            <div class="col col-4">
              <i class="fa fa-industry" aria-hidden="true"></i> Microsoft Inc.
            </div>
            <div class="col col-4">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Warsaw, PL
            </div>
            <div class="col col-4 d-flex justify-content-around">
              <span>HTML</span>
              <span>CSS</span>
              <span>JS</span>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
